<footer>
	<div class="container footer">
		<p class="pull-right"><a href="#">Back to top</a></p>
		<p>Sotefin SA &copy; 2013-2014 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	</div>
</footer>
			