<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" id="navbar-shadow" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="http://www.sotefinservice.com"><span class="brand-title" style="color: #F09000;">Sotefin Web Service</span></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/kamla/index"><span class="glyphicon glyphicon-home glyphicon-white"></span> Home</a></li>
				<li><a href="/kamla/left/device">Left Side</a></li>
				<li><a href="/kamla/right/device">Right Side</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/logout">Logout</a></li>
				<li><a href="/kamla/comm"><span class="label" id="comm"></span></a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div>
</nav>