<!DOCTYPE html>
<html ng-app="<%= ng_app %>">
	<head>
		<% include head %>
		<link href="/aps/arlozorov/css/elevator.css" rel="stylesheet" media="screen">
	</head>
	<body ng-controller="<%= ng_controller %>">
		<% include navbar %>
		<% include log %>
		<!-- Base Pagesheet -->
		<div class="container">
			<div class="page-header">
				<h3>Elevator Platform Overview <small>Arlozorov &middot; Tel Aviv &middot; Israel</small></h3>
			</div>
			<div class="bs-callout bs-callout-info">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<h4>Elevator sensor devices overview</h4>
				<p>The sensor status is automatically updated. Hover on the sensor to get additional informations.</p>
			</div>
			<!--
			<img src="/aps/arlozorov/img/elevator.jpg" class="img-responsive" alt="Elevator Platform">
			-->
			<div id="elevator">
			
			</div>
		</div> <!-- /container -->
		<% include footer %>
		<% include scripts %>
		<script type="text/javascript" src="/aps/arlozorov/js/device.js"></script>
	</body>
</html>
