<title><%= title %></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Sotefin Webservice Automatic Parking System">
<meta name="author" content="FR">
<meta name="copyright" content="Sotefin SA"/>
<meta name="robots" content="ALL"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="../../assets/js/html5shiv.js"></script>
<script src="../../assets/js/respond.min.js"></script>
<![endif]-->
<link href="/css/aps/navbar.css" rel="stylesheet" media="screen">
<link href="/css/aps/log.css" rel="stylesheet" media="screen">
<link href="/css/footer.css" rel="stylesheet" media="screen">
<link href="/css/callout.css" rel="stylesheet" media="screen">
<link href="/css/aps/lamp.css" rel="stylesheet" media="screen">