<footer class="footer">
	<div class="container">
		<!--
		<p class="pull-right footer-text"><a href="#">Back to top</a></p>
		-->
		<p class="text-muted footer-text">Currently version 1.5.0 &middot; <a href="//www.sotefin.com">Sotefin SA</a> &copy; 2013-2015 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	</div>
</footer>