<!DOCTYPE html>
<html>
	<head>
		<% include head %>
		<link href="../css/home.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<% include navbar %>
		<div class="container">


				<div class="jumbotron">
					<h3>The future of <a href="//www.sotefin.com">automated central parking systems</a> servicing.<br>A web based, mobile first project<br>on the cloud.</h3>
				</div>
				<!--
				<p class="text-center"><a href="//www.sotefinservice.com/login" class="btn btn-lg btn-outline-inverse">Login <span class="fa fa-sign-in"></span></a></p>
				-->
				<div class="row">
					<div class="col-md-4">
						<!-- <div class="panel panel-primary">
							<div class="panel-heading"><span class="fa fa-bar-chart"></span>&nbsp;Real-time analytics</div>
							<div class="panel-body">
								<p>Push data to clients that gets represented as real-time messages, charts or logs.</p>
							</div>
						</div> -->
						<h3 class="media-heading"><span class="fa fa-bar-chart"></span>&nbsp;Real-time analytics</h3>
						<p>Push data to clients that gets represented as real-time messages, charts or logs.</p>
					</div>
					<div class="col-md-4">
						<!-- <div class="panel panel-primary">
							<div class="panel-heading"><span class="fa fa-bolt"></span>&nbsp;Real-time communication</div>
							<div class="panel-body">
								<p>Enables real-time bidirectional event-based communication featuring the fastest and most reliable real-time engine.</p>
							</div>
						</div> -->
						<h3 class="media-heading"><span class="fa fa-bolt"></span>&nbsp;Real-time communication</h3>
						<p>Enables real-time bidirectional event-based communication featuring the fastest and most reliable real-time engine.</p>
					</div>
					<div class="col-md-4">
						<!-- <div class="panel panel-primary">
							<div class="panel-heading"><span class="fa fa-cloud"></span>&nbsp;Web based</div>
							<div class="panel-body">
								<p>Web applications are popular due to the ubiquity of web browsers, and the convenience of using a web browser as a client.</p>
							</div>
						</div>
					</div> -->
						<h3 class="media-heading"><span class="fa fa-cloud"></span>&nbsp;Web based</h3>
						<p>Web applications are popular due to the ubiquity of web browsers, and the convenience of using a web browser as a client.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<!-- <div class="panel panel-primary">
							<div class="panel-heading"><span class="fa fa-mobile"></span>&nbsp;Mobile first</div>
							<div class="panel-body">
								<p>It works on every platform, modern browser or device, focusing equally on reliability and speed.</p>
							</div>
						</div> -->
						<h3 class="media-heading"><span class="fa fa-mobile"></span>&nbsp;Mobile first</h3>
						<p>It works on every platform, modern browser or device, focusing equally on reliability and speed.</p>
					</div>
					<div class="col-md-4">
						<!-- <div class="panel panel-primary">
							<div class="panel-heading"><a href="//www.sotefinservice.com/login"><span class="fa fa-sign-in"></span></a>&nbsp;Join us</div>
							<div class="panel-body">
								<p>Real-time help ? Find us at <a href="mailto:infosotefin.ch">Sotefin</a>.</p>
							</div>
						</div> -->
						<h3 class="media-heading"><a href="//www.sotefinservice.com/login"><span class="fa fa-sign-in"></span></a>&nbsp;Join us</h3>
						<p>Real-time help ? Find us at <a href="mailto:infosotefin.ch">Sotefin</a>.</p>
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">tweets about <b>automatic parking system</b> and <b>webservice</b></div>
					<div class="panel-body message-box"></div>
					<!-- <div class="panel-footer"></div> -->
				</div>

		</div> <!-- /container -->

		<% include footer %>
		<% include scripts %>
		<!--<script type="text/javascript">activeMenu(0);</script>-->
		<script type="text/javascript" src="../js/home.js"></script>
	</body>
</html>
