<!DOCTYPE html>
<html>
	<head>
		<% include head %>
		<link href="../css/index.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<% include navbar %>	
		<div class="container">
		
			<div class="inner-container">
				<a class="btn btn-primary btn-lg btn-block" href="/arlozorov/index" role="button">Arlozorov</a>
				<a class="btn btn-primary btn-lg btn-block" href="/ipark/index" role="button">I-Park</a>
				<a class="btn btn-primary btn-lg btn-block" href="/ibank/index" role="button">Iron Bank</a>
				<a class="btn btn-primary btn-lg btn-block" href="/kamla/index" role="button">Kamla Nagar</a>
			</div>
			
		<!--
			<div class="inner-container">
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<h4>Please, select a system</h4>
					<p><strong>Tip</strong> : click on a link below to open the system web space.</p>
				</div>
				<br>
				
				<ul class="list-group">			
					<li class="list-group-item">
						<h4><a href="/ipark/index">I-Park <small> Florianopolis &middot; Brazil</small></a>
						<img class="pull-right" src="../images/flags/16/Brazil.png" alt="Brazil" height="16" width="16"></h4>
					</li>
					<li class="list-group-item">
						<h4><a href="/kamla/index">Kamla Nagar <small> New Delhi &middot; India</small></a>
						<img class="pull-right" src="../images/flags/16/India.png" alt="India" height="16" width="16"></h4>
					</li>
					<li class="list-group-item">
						<h4><a href="/arlozorov/index">Arlozorov <small> Tel Aviv &middot; Israel</small></a>
						<img class="pull-right" src="../images/flags/16/Israel.png" alt="Israel" height="16" width="16"></h4>
					</li>
					<li class="list-group-item">
						<h4><a href="/ibank/index">Iron Bank <small> Auckland &middot; New Zealand</small></a>
						<img class="pull-right" src="../images/flags/16/New Zealand.png" alt="New Zealand" height="16" width="16"></h4>
					</li>
				</ul>
			</div> <!-- /inner-container -->
		</div> <!-- /container -->
		<% include footer %>
		<% include scripts %>
	</body>
</html>
