/*.map {
	width: 100%;
}*/

.tab-content {
	position: relative;
	margin-top: 25px;
}

.t {
	/*position: relative;
	margin-left: auto;
	margin-right: auto;*/
}
.l {
	position: relative;
	background-color: #F0F0F0;
	border: 1px solid #888;
	margin-bottom: 4px;
	/*margin-left: auto;
	margin-right: auto;*/
	height: 68px;
	width: 250px;
	
}

.s {
	position: absolute;
	border: 1px solid #000;
	height: 30px;
	width: 60px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
}

.el{
	position: absolute;
	background-color: #C0C0C0;
	border: 1px solid #000;
	font-weight: bold;
	height: 62px;
	width: 58px;
	text-align: center;
	vertical-align: middle;
	line-height: 62px;
}

.sh{
	position: absolute;
	background-color: #C0C0C0;
	border: 1px solid #000;
	font-weight: bold;
	height: 30px;
	width: 54px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
}

.st {
	/*font-family: Arial, "sans-serif";*/
	font-size: 12px;
	font-weight: bold;
}

.st:hover {
	/*color: #FFFFFF;*/
	cursor: pointer;
	text-decoration: underline;
}

.s-free {
	background-color: #00FF00;
}
.s-busy {
	background-color: #FF0000;
}
.s-lock {
	background-color: #FF00FF;
}
.s-rsvd {
	background-color: #FFFF00;
}
.s-papa {
	background-color: #00FFFF;
}

#el-1 	{ top: 2px; left: 2px; }

/*	Basement -1 */
#s-37	{ top: 2px; left: 186px }
#s-38	{ top: 2px; left: 124px }
#s-39	{ top: 2px; left: 62px }
#s-40	{ top: 34px; left: 186px }
#s-41	{ top: 34px; left: 124px }
#s-42	{ top: 34px; left: 62px }
/*	Basement -2 */
#s-31	{ top: 2px; left: 186px }
#s-32	{ top: 2px; left: 124px }
#s-33	{ top: 2px; left: 62px }
#s-34	{ top: 34px; left: 186px }
#s-35	{ top: 34px; left: 124px }
#s-36	{ top: 34px; left: 62px }
/*	Basement -3 */
#s-25	{ top: 2px; left: 186px }
#s-26	{ top: 2px; left: 124px }
#s-27	{ top: 2px; left: 62px }
#s-28	{ top: 34px; left: 186px }
#s-29	{ top: 34px; left: 124px }
#s-30	{ top: 34px; left: 62px }
/*	Basement -4 */
#s-19	{ top: 2px; left: 186px }
#s-20	{ top: 2px; left: 124px }
#s-21	{ top: 2px; left: 62px }
#s-22	{ top: 34px; left: 186px }
#s-23	{ top: 34px; left: 124px }
#s-24	{ top: 34px; left: 62px }
/*	Basement -5 */
#s-13	{ top: 2px; left: 186px }
#s-14	{ top: 2px; left: 124px }
#s-15	{ top: 2px; left: 62px }
#s-16	{ top: 34px; left: 186px }
#s-17	{ top: 34px; left: 124px }
#s-18	{ top: 34px; left: 62px }
/*	Basement -6 */
#s-7	{ top: 2px; left: 186px }
#s-8	{ top: 2px; left: 124px }
#s-9	{ top: 2px; left: 62px }
#s-10	{ top: 34px; left: 186px }
#s-11	{ top: 34px; left: 124px }
#s-12	{ top: 34px; left: 62px }
/*	Basement -7 */
#s-1	{ top: 2px; left: 186px }
#s-2	{ top: 2px; left: 124px }
#s-3	{ top: 2px; left: 62px }
#s-4	{ top: 34px; left: 186px }
#s-5	{ top: 34px; left: 124px }
#s-6	{ top: 34px; left: 62px }