.no-underline:hover {
	text-decoration: none;
}

.bit-address {
	width: 10%;
}
.bit-label {
	width: 15%;
}
.bit-status {
	font-weight: bold;
	text-align: center;
	width: 5%;
}
.bit-info {
	width: 70%;
}


.rack {
    position: relative;
    background-color: #c0c0c0;
    border: 1px solid #000000;
    height: 364px;
    width: 100%;
	left: 0px;
    top: 20px;
}
/* ET200M */
.card-et200m {
    position: absolute;
    border: 1px solid #000000;
    height: 360px;
    width: 188px;
    background-color: #505050;
    color: #000000;
    /*font-family: "Arial", Sans-Serif;
    font-size: 0.8em;*/
    text-align: center;
    vertical-align: middle;
    line-height: 16px;   
}
.title-et200m {
    height: 18px;
    color: #FFFF00;
}
.label-et200m {
    position: absolute;
    height: 18px;
    width: 82px;
    background-color: #FFFF00;
    border: 1px solid #000000;
}
.type-et200m {
    position: absolute;
    right: 10px;
    top: 342px;
    height: 18px;
    color: #F0F0F0;
	font-family: "Arial", Sans-Serif;
    font-size: 0.88em;
    text-align: left;

}
/* ET200S */
.card-et200s {
    position: absolute;
    border: 1px solid #000000;
    height: 360px;
    width: 110px;
    background-color: #505050;
    color: #000000;
    /*font-family: "Arial", Sans-Serif;
    font-size: 0.8em;*/
    text-align: center;
    vertical-align: middle;
    line-height: 16px;   
}
.title-et200s {
    height: 18px;
    color: #ffff00;
}
.label-et200s {
    position: absolute;
    height: 18px;
    width: 90px;
    background-color: #FFFF00;
    border: 1px solid #000000;
}
.type-et200s {
    position: absolute;
    left: 4px;
    top: 342px;
    height: 18px;
    color: #F0F0F0;
	font-family: "Arial", Sans-Serif;
    font-size: 0.88em;
    text-align: left;

}

.bit-id {
    position: absolute;
    height: 18px;
    width: 45px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
	font-size: 0.78em;
}
.bit-st {
    position: absolute;
    height: 18px;
    width: 12px;
    background-color: #C0C0C0;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    
}
.bit-nr {
    position: absolute;
    height: 18px;
    width: 24px;
    background-color: #E0E0E0;
    border: 1px solid #000000;
    /*font-weight: bold;*/
}
.bit-false {
	background-color: #C0C0C0;
}
.bit-true {
	background-color: #00FF00;
}
/* Rack 1 */
#r01  
{
    left: 0px;
    top: 20px;
}
/* Card 1 */
#r01c01
{
    left: 1px;
    top: 1px;
}
#label-EB0 { left: 10px; top: 159px; }
#label-EB1 { left: 10px; top: 176px; }
#label-EB2 { left: 93px; top: 159px; }
#label-EB3 { left: 93px; top: 176px; }
/* Byte 0 */
#l-id-1E00 { left: 47px; top: 23px; }   #l-st-1E00 { left: 35px; top: 23px; }    #l-nr-1E00 { left: 10px; top: 23px; }
#l-id-1E01 { left: 47px; top: 40px; }   #l-st-1E01 { left: 35px; top: 40px; }    #l-nr-1E01 { left: 10px; top: 40px; }
#l-id-1E02 { left: 47px; top: 57px; }   #l-st-1E02 { left: 35px; top: 57px; }    #l-nr-1E02 { left: 10px; top: 57px; }
#l-id-1E03 { left: 47px; top: 74px; }   #l-st-1E03 { left: 35px; top: 74px; }    #l-nr-1E03 { left: 10px; top: 74px; }
#l-id-1E04 { left: 47px; top: 91px; }   #l-st-1E04 { left: 35px; top: 91px; }    #l-nr-1E04 { left: 10px; top: 91px; }
#l-id-1E05 { left: 47px; top: 108px; }  #l-st-1E05 { left: 35px; top: 108px; }   #l-nr-1E05 { left: 10px; top: 108px; }
#l-id-1E06 { left: 47px; top: 125px; }  #l-st-1E06 { left: 35px; top: 125px; }   #l-nr-1E06 { left: 10px; top: 125px; }
#l-id-1E07 { left: 47px; top: 142px; }  #l-st-1E07 { left: 35px; top: 142px; }   #l-nr-1E07 { left: 10px; top: 142px; }
/* Byte 1 */
#l-id-1E10 { left: 47px; top: 193px; }  #l-st-1E10 { left: 35px; top: 193px; }   #l-nr-1E10 { left: 10px; top: 193px; }
#l-id-1E11 { left: 47px; top: 210px; }  #l-st-1E11 { left: 35px; top: 210px; }   #l-nr-1E11 { left: 10px; top: 210px; }
#l-id-1E12 { left: 47px; top: 227px; }  #l-st-1E12 { left: 35px; top: 227px; }   #l-nr-1E12 { left: 10px; top: 227px; }
#l-id-1E13 { left: 47px; top: 244px; }  #l-st-1E13 { left: 35px; top: 244px; }   #l-nr-1E13 { left: 10px; top: 244px; }
#l-id-1E14 { left: 47px; top: 261px; }  #l-st-1E14 { left: 35px; top: 261px; }   #l-nr-1E14 { left: 10px; top: 261px; }
#l-id-1E15 { left: 47px; top: 278px; }  #l-st-1E15 { left: 35px; top: 278px; }   #l-nr-1E15 { left: 10px; top: 278px; }
#l-id-1E16 { left: 47px; top: 295px; }  #l-st-1E16 { left: 35px; top: 295px; }   #l-nr-1E16 { left: 10px; top: 295px; }
#l-id-1E17 { left: 47px; top: 312px; }  #l-st-1E17 { left: 35px; top: 312px; }   #l-nr-1E17 { left: 10px; top: 312px; }
/* Byte 2 */
#l-id-1E20 { left: 93px; top: 23px; }   #l-st-1E20 { left: 138px; top: 23px; }   #l-nr-1E20 { left: 151px; top: 23px; }
#l-id-1E21 { left: 93px; top: 40px; }   #l-st-1E21 { left: 138px; top: 40px; }   #l-nr-1E21 { left: 151px; top: 40px; }
#l-id-1E22 { left: 93px; top: 57px; }   #l-st-1E22 { left: 138px; top: 57px; }   #l-nr-1E22 { left: 151px; top: 57px; }
#l-id-1E23 { left: 93px; top: 74px; }   #l-st-1E23 { left: 138px; top: 74px; }   #l-nr-1E23 { left: 151px; top: 74px; }
#l-id-1E24 { left: 93px; top: 91px; }   #l-st-1E24 { left: 138px; top: 91px; }   #l-nr-1E24 { left: 151px; top: 91px; }
#l-id-1E25 { left: 93px; top: 108px; }  #l-st-1E25 { left: 138px; top: 108px; }  #l-nr-1E25 { left: 151px; top: 108px; }
#l-id-1E26 { left: 93px; top: 125px; }  #l-st-1E26 { left: 138px; top: 125px; }  #l-nr-1E26 { left: 151px; top: 125px; }
#l-id-1E27 { left: 93px; top: 142px; }  #l-st-1E27 { left: 138px; top: 142px; }  #l-nr-1E27 { left: 151px; top: 142px; }
/* Byte 3 */
#l-id-1E30 { left: 93px; top: 193px; }  #l-st-1E30 { left: 138px; top: 193px; }  #l-nr-1E30 { left: 151px; top: 193px; }
#l-id-1E31 { left: 93px; top: 210px; }  #l-st-1E31 { left: 138px; top: 210px; }  #l-nr-1E31 { left: 151px; top: 210px; }
#l-id-1E32 { left: 93px; top: 227px; }  #l-st-1E32 { left: 138px; top: 227px; }  #l-nr-1E32 { left: 151px; top: 227px; }
#l-id-1E33 { left: 93px; top: 244px; }  #l-st-1E33 { left: 138px; top: 244px; }  #l-nr-1E33 { left: 151px; top: 244px; }
#l-id-1E34 { left: 93px; top: 261px; }  #l-st-1E34 { left: 138px; top: 261px; }  #l-nr-1E34 { left: 151px; top: 261px; }
#l-id-1E35 { left: 93px; top: 278px; }  #l-st-1E35 { left: 138px; top: 278px; }  #l-nr-1E35 { left: 151px; top: 278px; }
#l-id-1E36 { left: 93px; top: 295px; }  #l-st-1E36 { left: 138px; top: 295px; }  #l-nr-1E36 { left: 151px; top: 295px; }
#l-id-1E37 { left: 93px; top: 312px; }  #l-st-1E37 { left: 138px; top: 312px; }  #l-nr-1E37 { left: 151px; top: 312px; }
/* Card 2 */
#r01c02
{
    left: 193px;
    top: 1px;
}
#label-EB4 { left: 10px; top: 159px; }
#label-EB5 { left: 10px; top: 176px; }
#label-EB6 { left: 93px; top: 159px; }
#label-EB7 { left: 93px; top: 176px; }
/* Byte 0 */
#l-id-1E40 { left: 47px; top: 23px; }   #l-st-1E40 { left: 35px; top: 23px; }    #l-nr-1E40 { left: 10px; top: 23px; }
#l-id-1E41 { left: 47px; top: 40px; }   #l-st-1E41 { left: 35px; top: 40px; }    #l-nr-1E41 { left: 10px; top: 40px; }
#l-id-1E42 { left: 47px; top: 57px; }   #l-st-1E42 { left: 35px; top: 57px; }    #l-nr-1E42 { left: 10px; top: 57px; }
#l-id-1E43 { left: 47px; top: 74px; }   #l-st-1E43 { left: 35px; top: 74px; }    #l-nr-1E43 { left: 10px; top: 74px; }
#l-id-1E44 { left: 47px; top: 91px; }   #l-st-1E44 { left: 35px; top: 91px; }    #l-nr-1E44 { left: 10px; top: 91px; }
#l-id-1E45 { left: 47px; top: 108px; }  #l-st-1E45 { left: 35px; top: 108px; }   #l-nr-1E45 { left: 10px; top: 108px; }
#l-id-1E46 { left: 47px; top: 125px; }  #l-st-1E46 { left: 35px; top: 125px; }   #l-nr-1E46 { left: 10px; top: 125px; }
#l-id-1E47 { left: 47px; top: 142px; }  #l-st-1E47 { left: 35px; top: 142px; }   #l-nr-1E47 { left: 10px; top: 142px; }
/* Byte 1 */
#l-id-1E50 { left: 47px; top: 193px; }  #l-st-1E50 { left: 35px; top: 193px; }   #l-nr-1E50 { left: 10px; top: 193px; }
#l-id-1E51 { left: 47px; top: 210px; }  #l-st-1E51 { left: 35px; top: 210px; }   #l-nr-1E51 { left: 10px; top: 210px; }
#l-id-1E52 { left: 47px; top: 227px; }  #l-st-1E52 { left: 35px; top: 227px; }   #l-nr-1E52 { left: 10px; top: 227px; }
#l-id-1E53 { left: 47px; top: 244px; }  #l-st-1E53 { left: 35px; top: 244px; }   #l-nr-1E53 { left: 10px; top: 244px; }
#l-id-1E54 { left: 47px; top: 261px; }  #l-st-1E54 { left: 35px; top: 261px; }   #l-nr-1E54 { left: 10px; top: 261px; }
#l-id-1E55 { left: 47px; top: 278px; }  #l-st-1E55 { left: 35px; top: 278px; }   #l-nr-1E55 { left: 10px; top: 278px; }
#l-id-1E56 { left: 47px; top: 295px; }  #l-st-1E56 { left: 35px; top: 295px; }   #l-nr-1E56 { left: 10px; top: 295px; }
#l-id-1E57 { left: 47px; top: 312px; }  #l-st-1E57 { left: 35px; top: 312px; }   #l-nr-1E57 { left: 10px; top: 312px; }
/* Byte 2 */
#l-id-1E60 { left: 93px; top: 23px; }   #l-st-1E60 { left: 138px; top: 23px; }   #l-nr-1E60 { left: 151px; top: 23px; }
#l-id-1E61 { left: 93px; top: 40px; }   #l-st-1E61 { left: 138px; top: 40px; }   #l-nr-1E61 { left: 151px; top: 40px; }
#l-id-1E62 { left: 93px; top: 57px; }   #l-st-1E62 { left: 138px; top: 57px; }   #l-nr-1E62 { left: 151px; top: 57px; }
#l-id-1E63 { left: 93px; top: 74px; }   #l-st-1E63 { left: 138px; top: 74px; }   #l-nr-1E63 { left: 151px; top: 74px; }
#l-id-1E64 { left: 93px; top: 91px; }   #l-st-1E64 { left: 138px; top: 91px; }   #l-nr-1E64 { left: 151px; top: 91px; }
#l-id-1E65 { left: 93px; top: 108px; }  #l-st-1E65 { left: 138px; top: 108px; }  #l-nr-1E65 { left: 151px; top: 108px; }
#l-id-1E66 { left: 93px; top: 125px; }  #l-st-1E66 { left: 138px; top: 125px; }  #l-nr-1E66 { left: 151px; top: 125px; }
#l-id-1E67 { left: 93px; top: 142px; }  #l-st-1E67 { left: 138px; top: 142px; }  #l-nr-1E67 { left: 151px; top: 142px; }
/* Byte 3 */
#l-id-1E70 { left: 93px; top: 193px; }  #l-st-1E70 { left: 138px; top: 193px; }  #l-nr-1E70 { left: 151px; top: 193px; }
#l-id-1E71 { left: 93px; top: 210px; }  #l-st-1E71 { left: 138px; top: 210px; }  #l-nr-1E71 { left: 151px; top: 210px; }
#l-id-1E72 { left: 93px; top: 227px; }  #l-st-1E72 { left: 138px; top: 227px; }  #l-nr-1E72 { left: 151px; top: 227px; }
#l-id-1E73 { left: 93px; top: 244px; }  #l-st-1E73 { left: 138px; top: 244px; }  #l-nr-1E73 { left: 151px; top: 244px; }
#l-id-1E74 { left: 93px; top: 261px; }  #l-st-1E74 { left: 138px; top: 261px; }  #l-nr-1E74 { left: 151px; top: 261px; }
#l-id-1E75 { left: 93px; top: 278px; }  #l-st-1E75 { left: 138px; top: 278px; }  #l-nr-1E75 { left: 151px; top: 278px; }
#l-id-1E76 { left: 93px; top: 295px; }  #l-st-1E76 { left: 138px; top: 295px; }  #l-nr-1E76 { left: 151px; top: 295px; }
#l-id-1E77 { left: 93px; top: 312px; }  #l-st-1E77 { left: 138px; top: 312px; }  #l-nr-1E77 { left: 151px; top: 312px; }
/* Card 3 */
#r01c03
{
    left: 385px;
    top: 1px;
}
#label-EB8 { left: 10px; top: 159px; }
#label-EB9 { left: 10px; top: 176px; }
#label-EB10 { left: 93px; top: 159px; }
#label-EB11 { left: 93px; top: 176px; }
/* Byte 0 */
#l-id-1E80 { left: 47px; top: 23px; }   #l-st-1E80 { left: 35px; top: 23px; }    #l-nr-1E80 { left: 10px; top: 23px; }
#l-id-1E81 { left: 47px; top: 40px; }   #l-st-1E81 { left: 35px; top: 40px; }    #l-nr-1E81 { left: 10px; top: 40px; }
#l-id-1E82 { left: 47px; top: 57px; }   #l-st-1E82 { left: 35px; top: 57px; }    #l-nr-1E82 { left: 10px; top: 57px; }
#l-id-1E83 { left: 47px; top: 74px; }   #l-st-1E83 { left: 35px; top: 74px; }    #l-nr-1E83 { left: 10px; top: 74px; }
#l-id-1E84 { left: 47px; top: 91px; }   #l-st-1E84 { left: 35px; top: 91px; }    #l-nr-1E84 { left: 10px; top: 91px; }
#l-id-1E85 { left: 47px; top: 108px; }  #l-st-1E85 { left: 35px; top: 108px; }   #l-nr-1E85 { left: 10px; top: 108px; }
#l-id-1E86 { left: 47px; top: 125px; }  #l-st-1E86 { left: 35px; top: 125px; }   #l-nr-1E86 { left: 10px; top: 125px; }
#l-id-1E87 { left: 47px; top: 142px; }  #l-st-1E87 { left: 35px; top: 142px; }   #l-nr-1E87 { left: 10px; top: 142px; }
/* Byte 1 */
#l-id-1E90 { left: 47px; top: 193px; }  #l-st-1E90 { left: 35px; top: 193px; }   #l-nr-1E90 { left: 10px; top: 193px; }
#l-id-1E91 { left: 47px; top: 210px; }  #l-st-1E91 { left: 35px; top: 210px; }   #l-nr-1E91 { left: 10px; top: 210px; }
#l-id-1E92 { left: 47px; top: 227px; }  #l-st-1E92 { left: 35px; top: 227px; }   #l-nr-1E92 { left: 10px; top: 227px; }
#l-id-1E93 { left: 47px; top: 244px; }  #l-st-1E93 { left: 35px; top: 244px; }   #l-nr-1E93 { left: 10px; top: 244px; }
#l-id-1E94 { left: 47px; top: 261px; }  #l-st-1E94 { left: 35px; top: 261px; }   #l-nr-1E94 { left: 10px; top: 261px; }
#l-id-1E95 { left: 47px; top: 278px; }  #l-st-1E95 { left: 35px; top: 278px; }   #l-nr-1E95 { left: 10px; top: 278px; }
#l-id-1E96 { left: 47px; top: 295px; }  #l-st-1E96 { left: 35px; top: 295px; }   #l-nr-1E96 { left: 10px; top: 295px; }
#l-id-1E97 { left: 47px; top: 312px; }  #l-st-1E97 { left: 35px; top: 312px; }   #l-nr-1E97 { left: 10px; top: 312px; }
/* Byte 2 */
#l-id-1E100 { left: 93px; top: 23px; }   #l-st-1E100 { left: 138px; top: 23px; }   #l-nr-1E100 { left: 151px; top: 23px; }
#l-id-1E101 { left: 93px; top: 40px; }   #l-st-1E101 { left: 138px; top: 40px; }   #l-nr-1E101 { left: 151px; top: 40px; }
#l-id-1E102 { left: 93px; top: 57px; }   #l-st-1E102 { left: 138px; top: 57px; }   #l-nr-1E102 { left: 151px; top: 57px; }
#l-id-1E103 { left: 93px; top: 74px; }   #l-st-1E103 { left: 138px; top: 74px; }   #l-nr-1E103 { left: 151px; top: 74px; }
#l-id-1E104 { left: 93px; top: 91px; }   #l-st-1E104 { left: 138px; top: 91px; }   #l-nr-1E104 { left: 151px; top: 91px; }
#l-id-1E105 { left: 93px; top: 108px; }  #l-st-1E105 { left: 138px; top: 108px; }  #l-nr-1E105 { left: 151px; top: 108px; }
#l-id-1E106 { left: 93px; top: 125px; }  #l-st-1E106 { left: 138px; top: 125px; }  #l-nr-1E106 { left: 151px; top: 125px; }
#l-id-1E107 { left: 93px; top: 142px; }  #l-st-1E107 { left: 138px; top: 142px; }  #l-nr-1E107 { left: 151px; top: 142px; }
/* Byte 3 */
#l-id-1E110 { left: 93px; top: 193px; }  #l-st-1E110 { left: 138px; top: 193px; }  #l-nr-1E110 { left: 151px; top: 193px; }
#l-id-1E111 { left: 93px; top: 210px; }  #l-st-1E111 { left: 138px; top: 210px; }  #l-nr-1E111 { left: 151px; top: 210px; }
#l-id-1E112 { left: 93px; top: 227px; }  #l-st-1E112 { left: 138px; top: 227px; }  #l-nr-1E112 { left: 151px; top: 227px; }
#l-id-1E113 { left: 93px; top: 244px; }  #l-st-1E113 { left: 138px; top: 244px; }  #l-nr-1E113 { left: 151px; top: 244px; }
#l-id-1E114 { left: 93px; top: 261px; }  #l-st-1E114 { left: 138px; top: 261px; }  #l-nr-1E114 { left: 151px; top: 261px; }
#l-id-1E115 { left: 93px; top: 278px; }  #l-st-1E115 { left: 138px; top: 278px; }  #l-nr-1E115 { left: 151px; top: 278px; }
#l-id-1E116 { left: 93px; top: 295px; }  #l-st-1E116 { left: 138px; top: 295px; }  #l-nr-1E116 { left: 151px; top: 295px; }
#l-id-1E117 { left: 93px; top: 312px; }  #l-st-1E117 { left: 138px; top: 312px; }  #l-nr-1E117 { left: 151px; top: 312px; }
/* Card 4 */
#r01c04
{
    left: 577px;
    top: 1px;
}
#label-AB4 { left: 10px; top: 159px; }
#label-AB5 { left: 10px; top: 176px; }
#label-AB6 { left: 93px; top: 159px; }
#label-AB7 { left: 93px; top: 176px; }
/* Byte 0 */
#l-id-1A40 { left: 47px; top: 23px; }   #l-st-1A40 { left: 35px; top: 23px; }    #l-nr-1A40 { left: 10px; top: 23px; }
#l-id-1A41 { left: 47px; top: 40px; }   #l-st-1A41 { left: 35px; top: 40px; }    #l-nr-1A41 { left: 10px; top: 40px; }
#l-id-1A42 { left: 47px; top: 57px; }   #l-st-1A42 { left: 35px; top: 57px; }    #l-nr-1A42 { left: 10px; top: 57px; }
#l-id-1A43 { left: 47px; top: 74px; }   #l-st-1A43 { left: 35px; top: 74px; }    #l-nr-1A43 { left: 10px; top: 74px; }
#l-id-1A44 { left: 47px; top: 91px; }   #l-st-1A44 { left: 35px; top: 91px; }    #l-nr-1A44 { left: 10px; top: 91px; }
#l-id-1A45 { left: 47px; top: 108px; }  #l-st-1A45 { left: 35px; top: 108px; }   #l-nr-1A45 { left: 10px; top: 108px; }
#l-id-1A46 { left: 47px; top: 125px; }  #l-st-1A46 { left: 35px; top: 125px; }   #l-nr-1A46 { left: 10px; top: 125px; }
#l-id-1A47 { left: 47px; top: 142px; }  #l-st-1A47 { left: 35px; top: 142px; }   #l-nr-1A47 { left: 10px; top: 142px; }
/* Byte 1 */
#l-id-1A50 { left: 47px; top: 193px; }  #l-st-1A50 { left: 35px; top: 193px; }   #l-nr-1A50 { left: 10px; top: 193px; }
#l-id-1A51 { left: 47px; top: 210px; }  #l-st-1A51 { left: 35px; top: 210px; }   #l-nr-1A51 { left: 10px; top: 210px; }
#l-id-1A52 { left: 47px; top: 227px; }  #l-st-1A52 { left: 35px; top: 227px; }   #l-nr-1A52 { left: 10px; top: 227px; }
#l-id-1A53 { left: 47px; top: 244px; }  #l-st-1A53 { left: 35px; top: 244px; }   #l-nr-1A53 { left: 10px; top: 244px; }
#l-id-1A54 { left: 47px; top: 261px; }  #l-st-1A54 { left: 35px; top: 261px; }   #l-nr-1A54 { left: 10px; top: 261px; }
#l-id-1A55 { left: 47px; top: 278px; }  #l-st-1A55 { left: 35px; top: 278px; }   #l-nr-1A55 { left: 10px; top: 278px; }
#l-id-1A56 { left: 47px; top: 295px; }  #l-st-1A56 { left: 35px; top: 295px; }   #l-nr-1A56 { left: 10px; top: 295px; }
#l-id-1A57 { left: 47px; top: 312px; }  #l-st-1A57 { left: 35px; top: 312px; }   #l-nr-1A57 { left: 10px; top: 312px; }
/* Byte 2 */
#l-id-1A60 { left: 93px; top: 23px; }   #l-st-1A60 { left: 138px; top: 23px; }   #l-nr-1A60 { left: 151px; top: 23px; }
#l-id-1A61 { left: 93px; top: 40px; }   #l-st-1A61 { left: 138px; top: 40px; }   #l-nr-1A61 { left: 151px; top: 40px; }
#l-id-1A62 { left: 93px; top: 57px; }   #l-st-1A62 { left: 138px; top: 57px; }   #l-nr-1A62 { left: 151px; top: 57px; }
#l-id-1A63 { left: 93px; top: 74px; }   #l-st-1A63 { left: 138px; top: 74px; }   #l-nr-1A63 { left: 151px; top: 74px; }
#l-id-1A64 { left: 93px; top: 91px; }   #l-st-1A64 { left: 138px; top: 91px; }   #l-nr-1A64 { left: 151px; top: 91px; }
#l-id-1A65 { left: 93px; top: 108px; }  #l-st-1A65 { left: 138px; top: 108px; }  #l-nr-1A65 { left: 151px; top: 108px; }
#l-id-1A66 { left: 93px; top: 125px; }  #l-st-1A66 { left: 138px; top: 125px; }  #l-nr-1A66 { left: 151px; top: 125px; }
#l-id-1A67 { left: 93px; top: 142px; }  #l-st-1A67 { left: 138px; top: 142px; }  #l-nr-1A67 { left: 151px; top: 142px; }
/* Byte 3 */
#l-id-1A70 { left: 93px; top: 193px; }  #l-st-1A70 { left: 138px; top: 193px; }  #l-nr-1A70 { left: 151px; top: 193px; }
#l-id-1A71 { left: 93px; top: 210px; }  #l-st-1A71 { left: 138px; top: 210px; }  #l-nr-1A71 { left: 151px; top: 210px; }
#l-id-1A72 { left: 93px; top: 227px; }  #l-st-1A72 { left: 138px; top: 227px; }  #l-nr-1A72 { left: 151px; top: 227px; }
#l-id-1A73 { left: 93px; top: 244px; }  #l-st-1A73 { left: 138px; top: 244px; }  #l-nr-1A73 { left: 151px; top: 244px; }
#l-id-1A74 { left: 93px; top: 261px; }  #l-st-1A74 { left: 138px; top: 261px; }  #l-nr-1A74 { left: 151px; top: 261px; }
#l-id-1A75 { left: 93px; top: 278px; }  #l-st-1A75 { left: 138px; top: 278px; }  #l-nr-1A75 { left: 151px; top: 278px; }
#l-id-1A76 { left: 93px; top: 295px; }  #l-st-1A76 { left: 138px; top: 295px; }  #l-nr-1A76 { left: 151px; top: 295px; }
#l-id-1A77 { left: 93px; top: 312px; }  #l-st-1A77 { left: 138px; top: 312px; }  #l-nr-1A77 { left: 151px; top: 312px; }
/* Card 4 */
#r01c05
{
    left: 769px;
    top: 1px;
}
#label-AB8 { left: 10px; top: 159px; }
#label-AB9 { left: 10px; top: 176px; }
#label-AB10 { left: 93px; top: 159px; }
#label-AB11 { left: 93px; top: 176px; }
/* Byte 0 */
#l-id-1A80 { left: 47px; top: 23px; }   #l-st-1A80 { left: 35px; top: 23px; }    #l-nr-1A80 { left: 10px; top: 23px; }
#l-id-1A81 { left: 47px; top: 40px; }   #l-st-1A81 { left: 35px; top: 40px; }    #l-nr-1A81 { left: 10px; top: 40px; }
#l-id-1A82 { left: 47px; top: 57px; }   #l-st-1A82 { left: 35px; top: 57px; }    #l-nr-1A82 { left: 10px; top: 57px; }
#l-id-1A83 { left: 47px; top: 74px; }   #l-st-1A83 { left: 35px; top: 74px; }    #l-nr-1A83 { left: 10px; top: 74px; }
#l-id-1A84 { left: 47px; top: 91px; }   #l-st-1A84 { left: 35px; top: 91px; }    #l-nr-1A84 { left: 10px; top: 91px; }
#l-id-1A85 { left: 47px; top: 108px; }  #l-st-1A85 { left: 35px; top: 108px; }   #l-nr-1A85 { left: 10px; top: 108px; }
#l-id-1A86 { left: 47px; top: 125px; }  #l-st-1A86 { left: 35px; top: 125px; }   #l-nr-1A86 { left: 10px; top: 125px; }
#l-id-1A87 { left: 47px; top: 142px; }  #l-st-1A87 { left: 35px; top: 142px; }   #l-nr-1A87 { left: 10px; top: 142px; }
/* Byte 1 */
#l-id-1A90 { left: 47px; top: 193px; }  #l-st-1A90 { left: 35px; top: 193px; }   #l-nr-1A90 { left: 10px; top: 193px; }
#l-id-1A91 { left: 47px; top: 210px; }  #l-st-1A91 { left: 35px; top: 210px; }   #l-nr-1A91 { left: 10px; top: 210px; }
#l-id-1A92 { left: 47px; top: 227px; }  #l-st-1A92 { left: 35px; top: 227px; }   #l-nr-1A92 { left: 10px; top: 227px; }
#l-id-1A93 { left: 47px; top: 244px; }  #l-st-1A93 { left: 35px; top: 244px; }   #l-nr-1A93 { left: 10px; top: 244px; }
#l-id-1A94 { left: 47px; top: 261px; }  #l-st-1A94 { left: 35px; top: 261px; }   #l-nr-1A94 { left: 10px; top: 261px; }
#l-id-1A95 { left: 47px; top: 278px; }  #l-st-1A95 { left: 35px; top: 278px; }   #l-nr-1A95 { left: 10px; top: 278px; }
#l-id-1A96 { left: 47px; top: 295px; }  #l-st-1A96 { left: 35px; top: 295px; }   #l-nr-1A96 { left: 10px; top: 295px; }
#l-id-1A97 { left: 47px; top: 312px; }  #l-st-1A97 { left: 35px; top: 312px; }   #l-nr-1A97 { left: 10px; top: 312px; }
/* Byte 2 */
#l-id-1A100 { left: 93px; top: 23px; }   #l-st-1A100 { left: 138px; top: 23px; }   #l-nr-1A100 { left: 151px; top: 23px; }
#l-id-1A101 { left: 93px; top: 40px; }   #l-st-1A101 { left: 138px; top: 40px; }   #l-nr-1A101 { left: 151px; top: 40px; }
#l-id-1A102 { left: 93px; top: 57px; }   #l-st-1A102 { left: 138px; top: 57px; }   #l-nr-1A102 { left: 151px; top: 57px; }
#l-id-1A103 { left: 93px; top: 74px; }   #l-st-1A103 { left: 138px; top: 74px; }   #l-nr-1A103 { left: 151px; top: 74px; }
#l-id-1A104 { left: 93px; top: 91px; }   #l-st-1A104 { left: 138px; top: 91px; }   #l-nr-1A104 { left: 151px; top: 91px; }
#l-id-1A105 { left: 93px; top: 108px; }  #l-st-1A105 { left: 138px; top: 108px; }  #l-nr-1A105 { left: 151px; top: 108px; }
#l-id-1A106 { left: 93px; top: 125px; }  #l-st-1A106 { left: 138px; top: 125px; }  #l-nr-1A106 { left: 151px; top: 125px; }
#l-id-1A107 { left: 93px; top: 142px; }  #l-st-1A107 { left: 138px; top: 142px; }  #l-nr-1A107 { left: 151px; top: 142px; }
/* Byte 3 */
#l-id-1A110 { left: 93px; top: 193px; }  #l-st-1A110 { left: 138px; top: 193px; }  #l-nr-1A110 { left: 151px; top: 193px; }
#l-id-1A111 { left: 93px; top: 210px; }  #l-st-1A111 { left: 138px; top: 210px; }  #l-nr-1A111 { left: 151px; top: 210px; }
#l-id-1A112 { left: 93px; top: 227px; }  #l-st-1A112 { left: 138px; top: 227px; }  #l-nr-1A112 { left: 151px; top: 227px; }
#l-id-1A113 { left: 93px; top: 244px; }  #l-st-1A113 { left: 138px; top: 244px; }  #l-nr-1A113 { left: 151px; top: 244px; }
#l-id-1A114 { left: 93px; top: 261px; }  #l-st-1A114 { left: 138px; top: 261px; }  #l-nr-1A114 { left: 151px; top: 261px; }
#l-id-1A115 { left: 93px; top: 278px; }  #l-st-1A115 { left: 138px; top: 278px; }  #l-nr-1A115 { left: 151px; top: 278px; }
#l-id-1A116 { left: 93px; top: 295px; }  #l-st-1A116 { left: 138px; top: 295px; }  #l-nr-1A116 { left: 151px; top: 295px; }
#l-id-1A117 { left: 93px; top: 312px; }  #l-st-1A117 { left: 138px; top: 312px; }  #l-nr-1A117 { left: 151px; top: 312px; }


/* Rack 2 */
#r02  
{
    left: 0px;
    top: 20px;
}
/* Card 1 */
#r02c01
{
    left: 1px;
    top: 1px;
}
#label-EB12 { left: 10px; top: 100px; }
/* Byte 0 */
#l-id-1E120 { left: 10px; top: 125px; }  #l-st-1E120 { left: 35px; top: 23px; }  #l-nr-1E120 { left: 10px; top: 23px; }
#l-id-1E121 { left: 54px; top: 125px; }  #l-st-1E121 { left: 62px; top: 23px; }  #l-nr-1E121 { left: 75px; top: 23px; }
#l-id-1E122 { left: 10px; top: 142px; }  #l-st-1E122 { left: 35px; top: 40px; }  #l-nr-1E122 { left: 10px; top: 40px; }
#l-id-1E123 { left: 54px; top: 142px; }  #l-st-1E123 { left: 62px; top: 40px; }  #l-nr-1E123 { left: 75px; top: 40px; }
#l-id-1E124 { left: 10px; top: 159px; }  #l-st-1E124 { left: 35px; top: 57px; }  #l-nr-1E124 { left: 10px; top: 57px; }
#l-id-1E125 { left: 54px; top: 159px; }  #l-st-1E125 { left: 62px; top: 57px; }  #l-nr-1E125 { left: 75px; top: 57px; }
#l-id-1E126 { left: 10px; top: 176px; }  #l-st-1E126 { left: 35px; top: 74px; }  #l-nr-1E126 { left: 10px; top: 74px; }
#l-id-1E127 { left: 54px; top: 176px; }  #l-st-1E127 { left: 62px; top: 74px; }  #l-nr-1E127 { left: 75px; top: 74px; }
/* Card 2 */
#r02c02
{
    left: 113px;	/*1px*/
    top: 1px;
}
#label-EB13 { left: 10px; top: 100px; }
/* Byte 0 */
#l-id-1E130 { left: 10px; top: 125px; }  #l-st-1E130 { left: 35px; top: 23px; }  #l-nr-1E130 { left: 10px; top: 23px; }
#l-id-1E131 { left: 54px; top: 125px; }  #l-st-1E131 { left: 62px; top: 23px; }  #l-nr-1E131 { left: 75px; top: 23px; }
#l-id-1E132 { left: 10px; top: 142px; }  #l-st-1E132 { left: 35px; top: 40px; }  #l-nr-1E132 { left: 10px; top: 40px; }
#l-id-1E133 { left: 54px; top: 142px; }  #l-st-1E133 { left: 62px; top: 40px; }  #l-nr-1E133 { left: 75px; top: 40px; }
#l-id-1E134 { left: 10px; top: 159px; }  #l-st-1E134 { left: 35px; top: 57px; }  #l-nr-1E134 { left: 10px; top: 57px; }
#l-id-1E135 { left: 54px; top: 159px; }  #l-st-1E135 { left: 62px; top: 57px; }  #l-nr-1E135 { left: 75px; top: 57px; }
#l-id-1E136 { left: 10px; top: 176px; }  #l-st-1E136 { left: 35px; top: 74px; }  #l-nr-1E136 { left: 10px; top: 74px; }
#l-id-1E137 { left: 54px; top: 176px; }  #l-st-1E137 { left: 62px; top: 74px; }  #l-nr-1E137 { left: 75px; top: 74px; }
/* Card 3 */
#r02c03
{
    left: 225px;
    top: 1px;
}
#label-EB14 { left: 10px; top: 100px; }
/* Byte 0 */
#l-id-1E140 { left: 10px; top: 125px; }  #l-st-1E140 { left: 35px; top: 23px; }  #l-nr-1E140 { left: 10px; top: 23px; }
#l-id-1E141 { left: 54px; top: 125px; }  #l-st-1E141 { left: 62px; top: 23px; }  #l-nr-1E141 { left: 75px; top: 23px; }
#l-id-1E142 { left: 10px; top: 142px; }  #l-st-1E142 { left: 35px; top: 40px; }  #l-nr-1E142 { left: 10px; top: 40px; }
#l-id-1E143 { left: 54px; top: 142px; }  #l-st-1E143 { left: 62px; top: 40px; }  #l-nr-1E143 { left: 75px; top: 40px; }
#l-id-1E144 { left: 10px; top: 159px; }  #l-st-1E144 { left: 35px; top: 57px; }  #l-nr-1E144 { left: 10px; top: 57px; }
#l-id-1E145 { left: 54px; top: 159px; }  #l-st-1E145 { left: 62px; top: 57px; }  #l-nr-1E145 { left: 75px; top: 57px; }
#l-id-1E146 { left: 10px; top: 176px; }  #l-st-1E146 { left: 35px; top: 74px; }  #l-nr-1E146 { left: 10px; top: 74px; }
#l-id-1E147 { left: 54px; top: 176px; }  #l-st-1E147 { left: 62px; top: 74px; }  #l-nr-1E147 { left: 75px; top: 74px; }
/* Card 4 */
#r02c04
{
    left: 337px;
    top: 1px;
}
#label-EB15 { left: 10px; top: 100px; }
/* Byte 0 */
#l-id-1E150 { left: 10px; top: 125px; }  #l-st-1E150 { left: 35px; top: 23px; }  #l-nr-1E150 { left: 10px; top: 23px; }
#l-id-1E151 { left: 54px; top: 125px; }  #l-st-1E151 { left: 62px; top: 23px; }  #l-nr-1E151 { left: 75px; top: 23px; }
#l-id-1E152 { left: 10px; top: 142px; }  #l-st-1E152 { left: 35px; top: 40px; }  #l-nr-1E152 { left: 10px; top: 40px; }
#l-id-1E153 { left: 54px; top: 142px; }  #l-st-1E153 { left: 62px; top: 40px; }  #l-nr-1E153 { left: 75px; top: 40px; }
#l-id-1E154 { left: 10px; top: 159px; }  #l-st-1E154 { left: 35px; top: 57px; }  #l-nr-1E154 { left: 10px; top: 57px; }
#l-id-1E155 { left: 54px; top: 159px; }  #l-st-1E155 { left: 62px; top: 57px; }  #l-nr-1E155 { left: 75px; top: 57px; }
#l-id-1E156 { left: 10px; top: 176px; }  #l-st-1E156 { left: 35px; top: 74px; }  #l-nr-1E156 { left: 10px; top: 74px; }
#l-id-1E157 { left: 54px; top: 176px; }  #l-st-1E157 { left: 62px; top: 74px; }  #l-nr-1E157 { left: 75px; top: 74px; }
/* Card 5 */
#r02c05
{
    left: 449px;
    top: 1px;
}
#label-AB12 { left: 10px; top: 100px; }
/* Byte 0 */
#l-id-1A120 { left: 10px; top: 125px; }  #l-st-1A120 { left: 35px; top: 23px; }  #l-nr-1A120 { left: 10px; top: 23px; }
#l-id-1A121 { left: 54px; top: 125px; }  #l-st-1A121 { left: 62px; top: 23px; }  #l-nr-1A121 { left: 75px; top: 23px; }
#l-id-1A122 { left: 10px; top: 142px; }  #l-st-1A122 { left: 35px; top: 40px; }  #l-nr-1A122 { left: 10px; top: 40px; }
#l-id-1A123 { left: 54px; top: 142px; }  #l-st-1A123 { left: 62px; top: 40px; }  #l-nr-1A123 { left: 75px; top: 40px; }
#l-id-1A124 { left: 10px; top: 159px; }  #l-st-1A124 { left: 35px; top: 57px; }  #l-nr-1A124 { left: 10px; top: 57px; }
#l-id-1A125 { left: 54px; top: 159px; }  #l-st-1A125 { left: 62px; top: 57px; }  #l-nr-1A125 { left: 75px; top: 57px; }
#l-id-1A126 { left: 10px; top: 176px; }  #l-st-1A126 { left: 35px; top: 74px; }  #l-nr-1A126 { left: 10px; top: 74px; }
#l-id-1A127 { left: 54px; top: 176px; }  #l-st-1A127 { left: 62px; top: 74px; }  #l-nr-1A127 { left: 75px; top: 74px; }
/* Card 6 */
#r02c06
{
    left: 561px;
    top: 1px;
}
#label-AB13 { left: 10px; top: 100px; }
/* Byte 0 */
#l-id-1A130 { left: 10px; top: 125px; }  #l-st-1A130 { left: 35px; top: 23px; }  #l-nr-1A130 { left: 10px; top: 23px; }
#l-id-1A131 { left: 54px; top: 125px; }  #l-st-1A131 { left: 62px; top: 23px; }  #l-nr-1A131 { left: 75px; top: 23px; }
#l-id-1A132 { left: 10px; top: 142px; }  #l-st-1A132 { left: 35px; top: 40px; }  #l-nr-1A132 { left: 10px; top: 40px; }
#l-id-1A133 { left: 54px; top: 142px; }  #l-st-1A133 { left: 62px; top: 40px; }  #l-nr-1A133 { left: 75px; top: 40px; }
#l-id-1A134 { left: 10px; top: 159px; }  #l-st-1A134 { left: 35px; top: 57px; }  #l-nr-1A134 { left: 10px; top: 57px; }
#l-id-1A135 { left: 54px; top: 159px; }  #l-st-1A135 { left: 62px; top: 57px; }  #l-nr-1A135 { left: 75px; top: 57px; }
#l-id-1A136 { left: 10px; top: 176px; }  #l-st-1A136 { left: 35px; top: 74px; }  #l-nr-1A136 { left: 10px; top: 74px; }
#l-id-1A137 { left: 54px; top: 176px; }  #l-st-1A137 { left: 62px; top: 74px; }  #l-nr-1A137 { left: 75px; top: 74px; }