/* Viewport detection */
body::before {
  content: "xs";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  background-color: #000;
  color: #fff;
}
@media (min-width : 768px) { body::before { content: "sm"; }}
@media (min-width : 992px) { body::before { content: "md"; }}
@media (min-width : 1200px) { body::before { content: "lg"; }}
/* Info */
.info-container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.col-1 {
  padding-left: 10px !important;
  width: 35%;
}
.col-2 {
  width: 15%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 25%;
}
.hide {
  display: none;
}
.sensor {
  position: absolute;
  height: 18px;
  width: 18px;
  border: 1px solid #000;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  background-color: #c0c0c0;
}
.sensor-off {
  background-color: #e3f6ce;
  /* green */
  background-color: #f5f6ce;
  /* yellow */
}
.sensor-on {
  background-color: #00ff00;
  /* green */
  background-color: #ffff00;
  /* yellow */
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
#shuttle {
  position: relative;
  margin: 50px auto;
  /* center div */
  background-repeat: no-repeat;
  background-image: url("/aps/arlozorov/img/shuttle-xs.jpg");
  height: 212px;
  width: 480px;
}
#EPZV {
  left: 92.5px;
  top: 35px;
}
#EPZH {
  left: 112.5px;
  top: 35px;
}
#FTXV {
  left: 0px;
  top: 102.5px;
}
#FTXH {
  left: 472.5px;
  top: 102.5px;
}
#FEMV-E {
  left: 35px;
  top: 55px;
}
#FEMV-R {
  left: 35px;
  top: 145px;
}
#FEMH-E {
  left: 450px;
  top: 55px;
}
#FEMH-R {
  left: 450px;
  top: 145px;
}
#ECA {
  left: 50px;
  top: 15px;
}
#ECB {
  left: 65px;
  top: 15px;
}
#MV {
  left: 200px;
  top: 62.5px;
}
#MH {
  left: 220px;
  top: 62.5px;
}
#ES {
  left: 222.5px;
  top: 100px;
}
#EH {
  left: 242.5px;
  top: 100px;
}
#EAL {
  left: 102.5px;
  top: 135px;
}
#EAR {
  left: 102.5px;
  top: 67.5px;
}
#EPL {
  left: 325px;
  top: 135px;
}
#EPR {
  left: 325px;
  top: 67.5px;
}
#EBV {
  left: 102.5px;
  top: 100px;
}
#EBH {
  left: 375px;
  top: 100px;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #shuttle {
    background-image: url("/aps/arlozorov/img/shuttle-sm.jpg");
    height: 282px;
    width: 640px;
  }
  #EPZV {
    left: 123.33333333px;
    top: 46.55660377px;
  }
  #EPZH {
    left: 150px;
    top: 46.55660377px;
  }
  #FTXV {
    left: 0px;
    top: 136.34433962px;
  }
  #FTXH {
    left: 630px;
    top: 136.34433962px;
  }
  #FEMV-E {
    left: 46.66666667px;
    top: 73.16037736px;
  }
  #FEMV-R {
    left: 46.66666667px;
    top: 192.87735849px;
  }
  #FEMH-E {
    left: 600px;
    top: 73.16037736px;
  }
  #FEMH-R {
    left: 600px;
    top: 192.87735849px;
  }
  #ECA {
    left: 66.66666667px;
    top: 19.95283019px;
  }
  #ECB {
    left: 86.66666667px;
    top: 19.95283019px;
  }
  #MV {
    left: 266.66666667px;
    top: 83.13679245px;
  }
  #MH {
    left: 293.33333333px;
    top: 83.13679245px;
  }
  #ES {
    left: 296.66666667px;
    top: 133.01886792px;
  }
  #EH {
    left: 323.33333333px;
    top: 133.01886792px;
  }
  #EAL {
    left: 136.66666667px;
    top: 179.5754717px;
  }
  #EAR {
    left: 136.66666667px;
    top: 89.78773585px;
  }
  #EPL {
    left: 433.33333333px;
    top: 179.5754717px;
  }
  #EPR {
    left: 433.33333333px;
    top: 89.78773585px;
  }
  #EBV {
    left: 136.66666667px;
    top: 133.01886792px;
  }
  #EBH {
    left: 500px;
    top: 133.01886792px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #shuttle {
    background-image: url("/aps/arlozorov/img/shuttle-md.jpg");
    height: 353px;
    width: 800px;
  }
  #EPZV {
    left: 154.16666667px;
    top: 58.27830189px;
  }
  #EPZH {
    left: 187.5px;
    top: 58.27830189px;
  }
  #FTXV {
    left: 0px;
    top: 170.67216981px;
  }
  #FTXH {
    left: 787.5px;
    top: 170.67216981px;
  }
  #FEMV-E {
    left: 58.33333333px;
    top: 91.58018868px;
  }
  #FEMV-R {
    left: 58.33333333px;
    top: 241.43867925px;
  }
  #FEMH-E {
    left: 750px;
    top: 91.58018868px;
  }
  #FEMH-R {
    left: 750px;
    top: 241.43867925px;
  }
  #ECA {
    left: 83.33333333px;
    top: 24.97641509px;
  }
  #ECB {
    left: 108.33333333px;
    top: 24.97641509px;
  }
  #MV {
    left: 333.33333333px;
    top: 104.06839623px;
  }
  #MH {
    left: 366.66666667px;
    top: 104.06839623px;
  }
  #ES {
    left: 370.83333333px;
    top: 166.50943396px;
  }
  #EH {
    left: 404.16666667px;
    top: 166.50943396px;
  }
  #EAL {
    left: 170.83333333px;
    top: 224.78773585px;
  }
  #EAR {
    left: 170.83333333px;
    top: 112.39386792px;
  }
  #EPL {
    left: 541.66666667px;
    top: 224.78773585px;
  }
  #EPR {
    left: 541.66666667px;
    top: 112.39386792px;
  }
  #EBV {
    left: 170.83333333px;
    top: 166.50943396px;
  }
  #EBH {
    left: 625px;
    top: 166.50943396px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #shuttle {
    background-image: url("/aps/arlozorov/img/shuttle-lg.jpg");
    height: 424px;
    width: 960px;
  }
  #EPZV {
    left: 185px;
    top: 70px;
  }
  #EPZH {
    left: 225px;
    top: 70px;
  }
  #FTXV {
    left: 0px;
    top: 205px;
  }
  #FTXH {
    left: 945px;
    top: 205px;
  }
  #FEMV-E {
    left: 70px;
    top: 110px;
  }
  #FEMV-R {
    left: 70px;
    top: 290px;
  }
  #FEMH-E {
    left: 900px;
    top: 110px;
  }
  #FEMH-R {
    left: 900px;
    top: 290px;
  }
  #MV {
    left: 400px;
    top: 125px;
  }
  #MH {
    left: 440px;
    top: 125px;
  }
  #ES {
    left: 445px;
    top: 200px;
  }
  #EH {
    left: 485px;
    top: 200px;
  }
  #EAL {
    left: 205px;
    top: 270px;
  }
  #EAR {
    left: 205px;
    top: 135px;
  }
  #EPL {
    left: 650px;
    top: 270px;
  }
  #EPR {
    left: 650px;
    top: 135px;
  }
  #EBV {
    left: 205px;
    top: 200px;
  }
  #EBH {
    left: 750px;
    top: 200px;
  }
  #ECA {
    left: 100px;
    top: 30px;
  }
  #ECB {
    left: 130px;
    top: 30px;
  }
}
