<div class="log-container">
	<div class="container">
		<div>Web Service &raquo; <span id="log"></span><blink>_<span class="glyphicon glyphicon-pencil glyphicon-white"></span></blink></div>
	</div>
</div>