<!DOCTYPE html>
<html ng-app="<%= ng_app %>">
	<head>
		<% include head %>
		<link href="/aps/ibank/css/plc_io_2.css" rel="stylesheet" media="screen">
	</head>
	<body ng-controller="<%= ng_controller %>">
		<% include navbar %>
		<% include log %>
		<!-- Base Pagesheet -->
		<div class="container">
		<div class="page-header">
			<h3>PLC Digital I/O <small>Iron Bank &middot; Auckland &middot; New Zealand</small></h3>
		</div>	
		<div class="bs-callout bs-callout-info">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4>Digital Input/Output overview</h4>
			<p>The I/O status is automatically updated. <strong>Tip</strong> : Hover on the label to get additional informations.</p>
		</div>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" id="tab-io">
			<li><a href="#tab-io-01" data-toggle="tab">Tower 1</a></li>
			<li><a href="#tab-io-02" data-toggle="tab">Tower 2</a></li>
		</ul>
		<div class="io">
		<div class="tab-content">
			<!-- Tower 1 -->
			<div class="tab-pane fade active" id="tab-io-01">			
				<div class="rack" id="r01">
					<span bindonce ng-repeat="card in rack_01">
					<div class="card" bo-id="'r01c0'+ card.nr">
						<div class="title">Card {{card.nr}}</div>
						<span bindonce ng-repeat="byte in card.bytes">
							<div class="b-label" bo-id="'label-' + byte.label">Byte {{byte.label}}</div>
							<div bindonce ng-repeat="bit in byte.bits">
								<span class="bit-id" bo-id="'l-id-' + bit.cpu + bit.type + bit.byte + bit.bit" title="{{bit.text}}">{{bit.label}}</span>
								<span class="bit-st" id="l-st-{{bit.cpu}}{{bit.type}}{{bit.byte}}{{bit.bit}}" title="{{bit.text}}" >{{bit.status}}</span>
								<span class="bit-nr" bo-id="'l-nr-' + bit.cpu + bit.type + bit.byte + bit.bit" title="{{bit.text}}">.{{$index}}</span>
							</div>
						</span>
					<div class="type">Type {{card.type}}</div>
					</div>
					</span>
				</div>
			</div>
			<!-- Tower 2 -->
			<div class="tab-pane fade" id="tab-io-02">			
				<div class="rack" id="r02">
					<span bindonce ng-repeat="card in rack_02">
					<div class="card" bo-id="'r02c0'+ card.nr">
						<div class="title">Card {{card.nr}}</div>
						<span bindonce ng-repeat="byte in card.bytes">
							<div class="b-label" bo-id="'label-' + byte.label">Byte {{byte.label}}</div>
							<div bindonce ng-repeat="bit in byte.bits">
								<span class="bit-id" bo-id="'l-id-' + bit.cpu + bit.type + bit.byte + bit.bit" title="{{bit.text}}">{{bit.label}}</span>
								<span class="bit-st" id="l-st-{{bit.cpu}}{{bit.type}}{{bit.byte}}{{bit.bit}}" title="{{bit.text}}" >{{bit.status}}</span>
								<span class="bit-nr" bo-id="'l-nr-' + bit.cpu + bit.type + bit.byte + bit.bit" title="{{bit.text}}">.{{$index}}</span>
							</div>
						</span>
					<div class="type">Type {{card.type}}</div>
					</div>
					</span>
				</div>
			</div>
		</div>
		</div> <!-- /io AngularJS PlcioCtrl-->

		</div> <!-- /container -->
		<% include footer %>
		<% include scripts %>
		<script type="text/javascript">activeTab('tab-io', <%= tab_active %>);</script>
		<script type="text/javascript" src="/js/bindonce.js"></script>
		<script type="text/javascript" src="/aps/ibank/js/comm.js"></script>
		<script type="text/javascript" src="/aps/ibank/js/log.js"></script>
		<script type="text/javascript" src="/aps/ibank/js/plc_io_2.js"></script>
	</body>
</html>
