<!DOCTYPE html>
<html ng-app="<%= ng_app %>">
	<head>
		<% include ../head %>
		<link href="/css/aps/device.css" rel="stylesheet" media="screen">
	</head>
	<body ng-controller="<%= ng_controller %>">
		<% include navbar %>
		<% include ../log %>
		<!-- Base Pagesheet -->
		<div class="container">
			<div class="page-header">
				<h3>System Overview <small>Arlozorov &middot; Tel Aviv &middot; Israel</small></h3>
			</div>
			<!-- Devices -->
			<div class="row">
				<!-- Elevator -->
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading text-center device-heading" ng-bind="system.devices[0].name"></div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-6 text-center text-muted panel-body-left">Operating Mode</div>
								<div class="col-md-6 text-center text-primary panel-body-right" ng-bind="system.devices[0].mode"></div>
							</div>
							<div class="row">
								<div class="col-md-6 text-center text-muted panel-body-left">Card Reference</div>
								<div class="col-md-6 text-center text-primary panel-body-right" ng-bind="system.devices[0].card"></div>
							</div>
							<div class="row">
								<div class="col-md-6 text-center text-muted panel-body-left">Destination</div>
								<div class="col-md-6 text-center text-primary panel-body-right" ng-bind="system.devices[0].stall"></div>
							</div>
							<div class="row">
								<div class="col-md-6 text-center text-muted panel-body-left">Vehicle Size</div>
								<div class="col-md-6 text-center text-primary panel-body-right" ng-bind="system.devices[0].size"></div>
							</div>
							<div class="row">
								<div class="col-md-6 text-center text-warning panel-body-left">Laser (Vertical)</div>
								<div class="col-md-6 text-center text-primary panel-body-right">
									<span ng-bind="system.devices[0].position"></span>/<span ng-bind="system.devices[0].destination"></span>
								</div>
							</div>
						</div>
						<div class="panel-footer device-footer">
							<div title="{{system.devices[0].lamps[0].label}}" ng-class="lampStatus('green', system.devices[0].lamps[0].status)"></div>
							<div title="{{system.devices[0].lamps[1].label}}" ng-class="lampStatus('yellow', system.devices[0].lamps[1].status)"></div>
							<a href="/arlozorov/alarm/1">
								<div title="{{system.devices[0].lamps[2].label}}" ng-class="lampStatus('red', system.devices[0].lamps[2].status)"></div>
							</a>
							<a href="/arlozorov/elevator"><span class="fa fa-wrench">&nbsp;</span></a>
							<span ng-show="infoStatus(system.devices[0].infos[0].status)">
								<span class="fa fa-car" title="{{system.devices[0].infos[0].label}}">&nbsp;</span>
								<blink><span class="fa fa-arrow-right" title="{{system.devices[0].infos[0].label}}">&nbsp;</span></blink>
							</span>
							<span ng-show="infoStatus(system.devices[0].infos[1].status)">
								<span class="fa fa-car" title="{{system.devices[0].infos[0].label}}">&nbsp;</span>
								<blink><span class="fa fa-arrow-left" title="{{system.devices[0].infos[1].label}}">&nbsp;</span></blink>
							</span>
						</div>
					</div>
				</div>
				<!-- Shuttle -->
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading text-center device-heading" ng-bind="system.devices[1].name"></div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-6 text-center text-muted panel-body-left">Operating Mode</div>
								<div class="col-md-6 text-center text-primary panel-body-right" ng-bind="system.devices[1].mode"></div>
							</div>
							<div class="row">
								<div class="col-md-6 text-center text-muted panel-body-left">Card Reference</div>
								<div class="col-md-6 text-center text-primary panel-body-right" ng-bind="system.devices[1].card"></div>
							</div>
							<div class="row">
								<div class="col-md-6 text-center text-muted panel-body-left">Destination</div>
								<div class="col-md-6 text-center text-primary panel-body-right" ng-bind="system.devices[1].stall"></div>
							</div>
							<div class="row">
								<div class="col-md-6 text-center text-muted panel-body-left">Vehicle Size</div>
								<div class="col-md-6 text-center text-primary panel-body-right" ng-bind="system.devices[1].size"></div>
							</div>
							<div class="row">
								<div class="col-md-6 text-center text-warning panel-body-left">Encoder</div>
								<div class="col-md-6 text-center text-primary panel-body-right">
									<span ng-bind="system.devices[1].position"></span>/<span ng-bind="system.devices[1].destination"></span>
								</div>
							</div>
						</div>
						<div class="panel-footer device-footer">
							<div title="{{system.devices[1].lamps[0].label}}" ng-class="lampStatus('green', system.devices[1].lamps[0].status)"></div>
							<div title="{{system.devices[1].lamps[1].label}}" ng-class="lampStatus('yellow', system.devices[1].lamps[1].status)"></div>
							<a href="/arlozorov/alarm/2">
								<div title="{{system.devices[1].lamps[2].label}}" ng-class="lampStatus('red', system.devices[1].lamps[2].status)"></div>
							</a>
							<a href="/arlozorov/shuttle"><span class="fa fa-wrench"></span></a>
							<span ng-show="infoStatus(system.devices[1].infos[0].status)">
								<span class="fa fa-car" title="{{system.devices[1].infos[0].label}}">&nbsp;</span>
								<blink><span class="fa fa-arrow-right" title="{{system.devices[1].infos[0].label}}">&nbsp;</span></blink>
							</span>
							<span ng-show="infoStatus(system.devices[1].infos[1].status)">
								<span class="fa fa-car" title="{{system.devices[1].infos[0].label}}">&nbsp;</span>
								<blink><span class="fa fa-arrow-left" title="{{system.devices[1].infos[1].label}}">&nbsp;</span></blink>
							</span>
						</div>
					</div>
				</div>
				<!-- Silomat -->
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading text-center device-heading"><span ng-bind="system.devices[2].name"></span> &reg;</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-6 text-center text-muted panel-body-left">Operating Mode</div>
								<div class="col-md-6 text-center text-primary panel-body-right" ng-bind="system.devices[2].mode"></div>
							</div>
							<div class="row">
								<div class="col-md-6 text-center text-muted panel-body-left">Card Reference</div>
								<div class="col-md-6 text-center text-primary panel-body-right" ng-bind="system.devices[2].card"></div>
							</div>
							<div class="row">
								<div class="col-md-6 text-center text-muted panel-body-left">Destination</div>
								<div class="col-md-6 text-center text-primary panel-body-right" ng-bind="system.devices[2].stall"></div>
							</div>
							<div class="row">
								<div class="col-md-6 text-center text-muted panel-body-left">Vehicle Size</div>
								<div class="col-md-6 text-center text-primary panel-body-right" ng-bind="system.devices[2].size"></div>
							</div>
							<div class="row">
								<div class="col-md-6 text-center text-warning panel-body-left">Encoder</div>
								<div class="col-md-6 text-center text-primary panel-body-right">
									<span ng-bind="system.devices[2].position"></span>/<span ng-bind="system.devices[2].destination"></span>
								</div>
							</div>
						</div>
						<div class="panel-footer device-footer">
							<div title="{{system.devices[2].lamps[0].label}}" ng-class="lampStatus('green', system.devices[2].lamps[0].status)"></div>
							<div title="{{system.devices[2].lamps[1].label}}" ng-class="lampStatus('yellow', system.devices[2].lamps[1].status)"></div>
							<a href="/arlozorov/alarm/3">
								<div title="{{system.devices[2].lamps[2].label}}" ng-class="lampStatus('red', system.devices[2].lamps[2].status)"></div>
							</a>
							<a href="/arlozorov/silomat"><span class="fa fa-wrench"></span></a>
							<span ng-show="infoStatus(system.devices[2].infos[0].status)">
								<span class="fa fa-car" title="{{system.devices[2].infos[0].label}}">&nbsp;</span>
								<blink><span class="fa fa-arrow-right" title="{{system.devices[2].infos[0].label}}">&nbsp;</span></blink>
							</span>
							<span ng-show="infoStatus(system.devices[2].infos[1].status)">
								<span class="fa fa-car" title="{{system.devices[2].infos[0].label}}">&nbsp;</span>
								<blink><span class="fa fa-arrow-left" title="{{system.devices[2].infos[1].label}}">&nbsp;</span></blink>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- Exit Queue -->
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-heading text-center device-heading">Diagnostic Message Box</div>
						<div class="panel-body message-box"></div>
						<div class="panel-footer device-footer"></div>
					</div>
					<label class="checkbox-inline"><input type="checkbox" id="log1" checked />Elevator</label>
					<label class="checkbox-inline"><input type="checkbox" id="log2" checked />Shuttle</label>
					<label class="checkbox-inline"><input type="checkbox" id="log3" checked />Silomat</label>
					<label class="checkbox-inline"><input type="checkbox" id="log4" checked />Garage</label>
				</div>
				<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading text-center device-heading">Exit Queue</div>
					<table class="table table-condensed">
						<tr><td class="text-center">01 <i class="fa fa-arrow-circle-up"></i> <strong class="text-primary" ng-bind="system.exit_queue[0].card"></strong></td></tr>
						<tr><td class="text-center">02 <i class="fa fa-arrow-up"></i> <strong class="text-primary" ng-bind="system.exit_queue[1].card"></strong></td></tr>
						<tr><td class="text-center">03 <i class="fa fa-arrow-up"></i> <strong class="text-primary" ng-bind="system.exit_queue[2].card"></strong></td></tr>
						<tr><td class="text-center">04 <i class="fa fa-arrow-up"></i> <strong class="text-primary" ng-bind="system.exit_queue[3].card"></strong></td></tr>
						<tr><td class="text-center">05 <i class="fa fa-arrow-up"></i> <strong class="text-primary" ng-bind="system.exit_queue[4].card"></strong></td></tr>
					</table>
					<div class="panel-footer text-center device-footer"></div>
				</div>
				<a href="#" role="button" class="btn btn-primary btn-lg btn-block disabled">Exit Request</a>
				</div>
			</div>
		</div> <!-- /container -->
		<% include ../../footer %>
		<% include ../../scripts %>
		<% include ../scripts %>
		<% include scripts %>
		<script type="text/javascript" src="/js/aps/arlozorov/event.js"></script>
		<script type="text/javascript" src="/js/aps/arlozorov/device.js"></script>
	</body>
</html>
