<!DOCTYPE html>
<html ng-app="<%= ng_app %>">
	<head>
		<% include ../head %>
		<link href="/css/aps/device.css" rel="stylesheet" media="screen">
	</head>
	<body ng-controller="<%= ng_controller %>">
		<% include navbar %>
		<% include ../log %>
		<!-- Base Pagesheet -->
		<div class="container">
			<div class="page-header">
				<h3>Shuttle Overview <small>Arlozorov &middot; Tel Aviv &middot; Israel</small></h3>
			</div>
			<p>
				<!-- Nav Pills -->
				<ul class="nav nav-pills">
					<li role="presentation"><a href="/arlozorov/elevator">Elevator <span class="badge">0</span></a></li>
					<li role="presentation" class="active"><a href="/arlozorov/shuttle">Shuttle <span class="badge">0</span></a></li>
					<li role="presentation"><a href="/arlozorov/silomat">Silomat&reg; <span class="badge">0</span></a></li>
					<li role="presentation"><a href="/arlozorov/garage">Garage <span class="badge">0</span></a></li>
					<li role="presentation" class="pull-right"><a href="/arlozorov/alarm">Alarms <span class="badge-danger">0</span></a></li>
				</ul>
			</p><br>
			<div class="row">
				<!-- Shuttle Travelling -->
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading text-center"><strong>Shuttle Travelling</strong></div>
						<table class="table table-condensed">
							<tr ng-class="getStatus(M0.direction)">
								<td>Direction</td>
								<td class="text-center" ng-bind-html="getDirection(M0.direction, stop, left, right)"></td>
								<td></td>
								<td>Position</td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M0.position"></strong</td>
								<td></td>
							</tr>
							<tr ng-class="getStatus(M0.direction)">
								<td>Speed</td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M0.speed"></strong></td>
								<td><strong>&nbsp;Hz</strong></td>
								<td>Encoder</td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M0.pos_1"></strong></td>
								<td><strong>&nbsp;x3mm</strong></td>
							</tr>
							<tr ng-class="getStatus(M0.direction)">
								<td>Current</td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M0.current"></strong></td>
								<td><strong>&nbsp;Amp</strong></td>
								<td></td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M0.pos_2"></strong></td>
								<td><strong>&nbsp;x3mm</strong></td>
							</tr>
							<tr ng-class="getStatus(M0.direction)">
								<td>Elapsed</td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M0.elapsed"></strong></td>
								<td><strong>&nbsp;msec</strong></td>
								<td>Destination</td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M0.destination"></strong></td>
								<td><strong>&nbsp;x3mm</strong></td>
							</tr>
						</table>
						<div class="panel-footer"></div>
					</div>
				</div>
				<!-- Shuttle Position
				<div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-heading text-center"><strong>Shuttle Position</strong></div>
						<table class="table table-condensed">
							<tr ng-class="getStatus(M0.direction)">
								<td>Position</td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M0.position"></strong</td>
								<td></td>
							</tr>
							<tr ng-class="getStatus(M0.direction)">
								<td>Encoder H1</td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M0.pos_1"></strong></td>
								<td><strong>&nbsp;x3mm</strong></td>
							</tr>
							<tr ng-class="getStatus(M0.direction)">
								<td>Encoder H2</td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M0.pos_2"></strong></td>
								<td><strong>&nbsp;x3mm</strong></td>
							</tr>
							<tr ng-class="getStatus(M0.direction)">
								<td>Destination</td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M0.destination"></strong></td>
								<td><strong>&nbsp;x3mm</strong></td>
							</tr>
						</table>
						<div class="panel-footer"></div>
					</div>
				</div> -->
				<!-- Shuttle Rotation -->
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading text-center"><strong>Shuttle Rotation</strong></div>
						<table class="table table-condensed">
							<tr ng-class="getStatus(M1.direction)">
								<td>Direction</td>
								<td class="text-center" ng-bind-html="getDirection(M1.direction, stop, cog, cog_rev)"></td>
								<td></td>
								<td>Position</td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M1.position"></strong></td>
								<td></td>
							</tr>
							<tr ng-class="getStatus(M1.direction)">
								<td>Speed</td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M1.speed"></strong></td>
								<td><strong>&nbsp;Hz</strong></td>
								<td>Encoder</td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M1.pos_1"></strong></td>
								<td><strong>&nbsp;x3mm</strong></td>
							</tr>
							<tr ng-class="getStatus(M1.direction)">
								<td>Current</td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M1.current"></strong></td>
								<td><strong>&nbsp;Amp</strong></td>
								<td></td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M1.pos_2"></strong></td>
								<td><strong>&nbsp;x3mm</strong></td>
							</tr>
							<tr ng-class="getStatus(M1.direction)">
								<td>Elapsed</td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M1.elapsed"></strong></td>
								<td><strong>&nbsp;msec</strong></td>
								<td>Destination</td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M1.destination"></strong></td>
								<td><strong>&nbsp;x3mm</strong></td>
							</tr>
						</table>
						<div class="panel-footer"></div>
					</div>
				</div>
				<!-- Rotation Position
				<div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-heading text-center"><strong>Rotation Position</strong></div>
						<table class="table table-condensed">
							<tr ng-class="getStatus(M0.direction)">
								<td>Position</td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M1.position"></strong</td>
								<td></td>
							</tr>
							<tr ng-class="getStatus(M0.direction)">
								<td>Encoder R1</td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M1.pos_1"></strong></td>
								<td><strong>&nbsp;x3mm</strong></td>
							</tr>
							<tr ng-class="getStatus(M0.direction)">
								<td>Encoder R2</td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M1.pos_2"></strong></td>
								<td><strong>&nbsp;x3mm</strong></td>
							</tr>
							<tr ng-class="getStatus(M0.direction)">
								<td>Destination</td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M1.destination"></strong></td>
								<td><strong>&nbsp;x3mm</strong></td>
							</tr>
						</table>
						<div class="panel-footer"></div>
					</div>
				</div>-->
			</div>

			<div class="row">
				<!--Message Box -->
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading text-center device-heading">Diagnostic Message Box</div>
						<div class="panel-body message-box"></div>
						<div class="panel-footer"></div>
					</div>
					<label class="checkbox-inline"><input type="checkbox" id="log1" />Elevator</label>
					<label class="checkbox-inline"><input type="checkbox" id="log2" checked />Shuttle</label>
					<label class="checkbox-inline"><input type="checkbox" id="log3" />Silomat</label>
					<label class="checkbox-inline"><input type="checkbox" id="log4" />Garage</label>
				</div>
				<div class="col-md-3">
				<!-- Flap -->
					<div class="panel panel-default">
						<div class="panel-heading text-center"><strong>Flap Motor</strong></div>
						<table class="table table-condensed">
							<tr ng-class="getStatus(M2.direction)">
								<td>Direction</td>
								<td class="text-center" ng-bind-html="getDirection(M2.direction, stop, up, down)"></td>
								<td></td>
							</tr>
							<tr ng-class="getStatus(M2.direction)">
								<td>Elapsed</td>
								<td class="text-center"><strong class="text-primary panel-body-right" ng-bind="M2.elapsed"></strong></td>
								<td><strong>&nbsp;msec</strong></td>
							</tr>
						</table>
						<table class="table table-condensed">
							<tr ng-class="getStatus(M2.direction)">
								<td ng-bind="ECA.label" title="{{ECA.text}}"></td>
								<td class="text-center"  title="{{ECA.text}}"><span ng-class="getIo(ECA.status)"></span></td>
								<td ng-bind="SCA.label" title="{{SCA.text}}"></td>
								<td class="text-center"  title="{{SCA.text}}"><span ng-class="getIo(SCA.status)"></span></td>
								<td ng-bind="AMC.label" title="{{AMC.text}}"></td>
								<td class="text-center"  title="{{AMC.text}}"><span ng-class="getIo(AMC.status)"></span></td>
							</tr>
							<tr ng-class="getStatus(M2.direction)">
								<td ng-bind="ECB.label" title="{{ECB.text}}"></td>
								<td class="text-center"  title="{{ECB.text}}"><span ng-class="getIo(ECB.status)"></span></td>
								<td ng-bind="SCB.label" title="{{SCB.text}}"></td>
								<td class="text-center"  title="{{SCB.text}}"><span ng-class="getIo(SCB.status)"></span></td>
								<td></td>
								<td></td>
							</tr>
						</table>
						<div class="panel-footer"></div>
					</div>
				</div>
			</div>

		</div> <!-- /container -->
		<% include ../../footer %>
		<% include ../../scripts %>
		<% include ../scripts %>
		<% include scripts %>
		<script type="text/javascript" src="/js/aps/arlozorov/event.js"></script>
		<script type="text/javascript" src="/js/aps/arlozorov/shuttle.js"></script>
	</body>
</html>
