<!DOCTYPE html>
<html ng-app="<%= ng_app %>">
	<head>
		<% include head %>
		<link href="/aps/ipark/css/alarm.css" rel="stylesheet" media="screen">
	</head>
	<body ng-controller="<%= ng_controller %>">
		<% include navbar %>
		<% include log %>
		<!-- Base Pagesheet -->
		<div class="container">
		<div class="page-header">
			<h3>System Diagnostic <small>I-Park &middot; Florianopolis &middot; Brasil</small></h3>
		</div>
		
		<div class="al-container">
			<h4 style="color: #d9534f; padding: 10px 0 0 18px;">Active alarms</h4>
			<div id="al-log-container">
				<div>
					<span id="al<%= al_id %>" style="font-family: monospace;" ng-bind-html="al_<%= al_id %>.msg"></span>
				</div>
			</div>
		</div>
		<!-- nav-pills -->
		<!-- elevators 1-4 -->
		<ul class="nav nav-pills">
			<% if(al_id == 1) { %>
			<li class="active">
			<% } else { %>
			<li>
			<% } %>
				<a href="../alarm/1"><span class="badge pull-right" ng-bind="al_1.active"></span>Elevator 1</a>
			</li>
			<% if(al_id == 2) { %>
			<li class="active">
			<% } else { %>
			<li>
			<% } %>
				<a href="../alarm/2"><span class="badge pull-right" ng-bind="al_2.active"></span>Elevator 2</a>
			</li>
			<% if(al_id == 3) { %>
			<li class="active">
			<% } else { %>
			<li>
			<% } %>
				<a href="../alarm/3"><span class="badge pull-right" ng-bind="al_3.active"></span>Elevator 3</a>
			</li>
			<% if(al_id == 4) { %>
			<li class="active">
			<% } else { %>
			<li>
			<% } %>
				<a href="../alarm/4"><span class="badge pull-right" ng-bind="al_4.active"></span>Elevator 4</a>
			</li>
		</ul>
		<!-- shuttles 1-8 -->
		<ul class="nav nav-pills">
			<% if(al_id == 11) { %>
			<li class="active">
			<% } else { %>
			<li>
			<% } %>
				<a href="../alarm/11"><span class="badge pull-right" ng-bind="al_11.active">0</span>Shuttle 1</a>
			</li>
			<% if(al_id == 12) { %>
			<li class="active">
			<% } else { %>
			<li>
			<% } %>
				<a href="../alarm/12"><span class="badge pull-right" ng-bind="al_12.active">0</span>Shuttle 2</a>
			</li>
			<% if(al_id == 13) { %>
			<li class="active">
			<% } else { %>
			<li>
			<% } %>
				<a href="../alarm/13"><span class="badge pull-right" ng-bind="al_13.active">0</span>Shuttle 3</a>
			</li>
			<% if(al_id == 14) { %>
			<li class="active">
			<% } else { %>
			<li>
			<% } %>
				<a href="../alarm/14"><span class="badge pull-right" ng-bind="al_14.active">0</span>Shuttle 4</a>
			</li>
			<% if(al_id == 15) { %>
			<li class="active">
			<% } else { %>
			<li>
			<% } %>
				<a href="../alarm/15"><span class="badge pull-right" ng-bind="al_15.active">0</span>Shuttle 5</a>
			</li>
			<% if(al_id == 16) { %>
			<li class="active">
			<% } else { %>
			<li>
			<% } %>
				<a href="../alarm/16"><span class="badge pull-right" ng-bind="al_16.active">0</span>Shuttle 6</a>
			</li>
			<% if(al_id == 17) { %>
			<li class="active">
			<% } else { %>
			<li>
			<% } %>
				<a href="../alarm/17"><span class="badge pull-right" ng-bind="al_17.active">0</span>Shuttle 7</a>
			</li>
			<% if(al_id == 18) { %>
			<li class="active">
			<% } else { %>
			<li>
			<% } %>
				<a href="../alarm/18"><span class="badge pull-right" ng-bind="al_18.active">0</span>Shuttle 8</a>
			</li>
		</ul>
		<!-- cabins 1-3 -->
		<ul class="nav nav-pills">
			<% if(al_id == 21) { %>
			<li class="active">
			<% } else { %>
			<li>
			<% } %>
				<a href="../alarm/21"><span class="badge pull-right" ng-bind="al_21.active">0</span>Cabin 1</a>
			</li>
			<% if(al_id == 22) { %>
			<li class="active">
			<% } else { %>
			<li>
			<% } %>
				<a href="../alarm/22"><span class="badge pull-right" ng-bind="al_22.active">0</span>Cabin 2</a>
			</li>
			<% if(al_id == 23) { %>
			<li class="active">
			<% } else { %>
			<li>
			<% } %>
				<a href="../alarm/23"><span class="badge pull-right" ng-bind="al_23.active">0</span>Cabin 3</a>
			</li>
		</ul>
		
		</div> <!-- /container -->
		<% include footer %>
		<% include scripts %>
		<script type="text/javascript" src="/aps/ipark/js/alarm.js"></script>
	</body>
</html>