<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Sotefin Webservice Automatic Parking System">
<meta name="author" content="FR">
<link href="/img/s7_pn.ico" rel="shortcut icon" type="image/x-icon">
<!-- Bootstrap -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="../../assets/js/html5shiv.js"></script>
<script src="../../assets/js/respond.min.js"></script>
<![endif]-->
<link href="/aps/ipark/css/main.css" rel="stylesheet" media="screen">
<link href="/aps/ipark/css/log.css" rel="stylesheet" media="screen">