<!DOCTYPE html>
<html>
	<head>
		<% include head %>
		<link href="/aps/ipark/css/index.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<% include navbar %>
		<!-- Base Pagesheet -->		
		<div class="jumbotron">
			<div class="container">
				<h1>I-Park <small>Automatic Parking System</small></h1>
				<p>The future of automated central parking systems.</p>
				<p><a class="btn btn-primary btn-lg" href="http://www.sotefin.com" role="button">Learn more &raquo;</a></p>
			</div>
		</div>
		<div class="container">
			<p>
				<div>
					<h2>System Overview</h2>
					<p>Sotefin SA, thanks to its series of products, is able to satisfy almost every need: from small to large installations for fixed and casual users. Our systems guarantee high performance in extremely limited spaces, user-friendliness and easy maintenance, security and reliability.</p>
					<p>Sotefin products can satisfy almost all requirements relating to size and performance. In particular, the great versatility of Sotefin products allows parking systems to be developed practically "made to measure" both for new buildings and buildings needing renovation.</p>
				</div>
			</p>
			<br>
			<p><a class="btn btn-primary btn-lg" href="/ipark/device/0" role="button">View System &raquo;</a></p>
		</div> <!-- /container -->
		<% include footer %>
		<% include scripts %>
	</body>
</html>
